*{
    margin: 0px;
    padding: 0px;
}
/* main gamearea */

#game-container{
    width: 100%;
    height: 100vh;
    background-image: url("assets/2023-11-07.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#road{
    width: 24%;
    height: 100vh;
    background-color: black;
    margin: auto;
    position: relative;
}
#score{
    width: 120px;
    height: 70px;
    background-color: white;
    position: absolute;
    font-size: 30px;
    right: 150%;
    top: 10%;
    
}

#playercar{
   width:15%;
   height: 75px;
   position: absolute;
   top: 50%;
   z-index: 1;
}
img{
    width: 45px;
    height: 80px;
}

#enemycar1{
    width:15%;
    height: 75px;
    position: absolute;
    left: 10%;
    top: 0px;
    z-index: 1;
    animation: movecar1 4s linear infinite;
}

/* animation to move first enemy car */

@keyframes movecar1{
     0%{
        top:0px;
     }
     100%{
        top:85vh;
     }
}

#enemycar2{
    width:15%;
    height: 75px;
    position: absolute;
    left: 20%;
    top: 0px;
    z-index: 1;
    animation: movecar2 3s linear infinite;
}

/* animation to move second enemy car */


@keyframes movecar2{
    0%{
       top:0px;
    }
    100%{
       top:85vh;
    }
}

#enemycar3{
    width:15%;
    height: 75px;
    position: absolute;
    left: 50%;
    top: 0px;
    z-index: 1;
    animation: movecar3 3.5s linear infinite;

}

/* animation to move third enemy car */


@keyframes movecar3{
    0%{
       top:0px;
    }
    100%{
       top:85vh;
    }
}

#enemycar4{
    width:15%;
    height: 75px;
    position: absolute;
    left: 80%;
    top: 0px;
    z-index: 1;
    animation: movecar4 5s linear infinite;
}

/* animation to move fourth enemy car */


@keyframes movecar4{
    0%{
       top:0px;
    }
    100%{
       top:85vh;
    }
}


.roadlines{
  position: absolute;
  background-color: white;
  width: 10px;
  height: 60px;
  margin-left: 50%;
}

/* css for mobile responsive */

@media screen and (max-width:1200px){
    #road{
        width: 40%;
        
    }
    #score{
      position: relative;
      right: 60%;
    }
}



