*{
    padding: 0px;
    margin: 0px;
}
#gameover-image{
    background-image: url("https://e0.pxfuel.com/wallpapers/587/12/desktop-wallpaper-car-crash-data-src-car-crash-car-crash-accident.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.gameover{
    width: 100%;
    color: white;
    height: 100px;
    font-size: 40px;
}
#playerscorevalue{
    font-size: 40px;
    color: white;
    width: 50%;
}

#score{
    width: 100%;
    height: 50vh;
    position: relative;

    
}


#playagain{
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
#playagainbtn{
    display: flex;
    justify-content: center;
    
}

#playagain button{
    margin-top: 10%;
    width: 120px;
    height: 40px;
    font-size: 20px;
    background-color: rgb(92, 164, 173);
    border-radius: 20px;

}



@media screen and (max-width:950px){
     
     .gameover{
        font-size: 25px;
        height: 30px;
     }
     #playerscorevalue{
        font-size: 25px;
     }
     #playerscore{
        font-size: 25px;
     }
     #highscore{
        font-size: 25px;
     }
      
}

@media screen and (max-width:400px){
    
    #score{
        width: 100%;
    }
    #playagain{
        width: 80%;
    }


   
    
}